.custom-stretched-tabs {
    max-width: 800px;
    margin: 25px auto;
  }

  .custom-stretched-tabs {
    background: rgb(12, 77, 129);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

 
  .mat-tab-group{
    background-color: darkgray;
  }