.companyName{
    font-size: 150%;
}
div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}
button{
    font-size: 110%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
  }
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-sidenav-content{

      text-align: center;
  }

  .mat-menu {
      width: 360px;
  }

  .message-container {
    background-color: #f1f1f1;
    padding: 12px;
    margin: 10px 0;
    height: 60px;
    width: 380px;
  }

  .message-container:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

  /* Style images */
.message-container img {
    float: left;
    max-width: 35px;
    width: 25%;
    margin-right: 20px;
    border-radius: 50%;
    border: #aaa 
}

.friends-container {
    background-color: #f1f1f1;
    padding: 5px;
    margin: 10px 0;
    height: 60px;
    width: 420px;
}

.friends-container img {
    float: left;
    max-width: 45px;
    width: 25%;
    margin-right: 20px;
    border: #aaa 
}

.about {
    float: left;
    height: 100%;
    line-height: 18px;
}

.name {
    color: darkgreen;
    font-size: 20px;
}

.message {
    fint-size: 16px;
}

.time {
    float: right;
    margin-top: -15px;
    margin-right: 5px;
    font-size: 15px;
}

