.container {
  max-width: 1600;
  height: 100%;
  margin: auto;
}

.mat-card {
  position: relative;
  background: white;
  display: inline-block;
  border-radius: 3px;
  width: 300px;
  height: 300px;
  border: 1px solid lightgray;
  margin: 30px 15px 30px 15px;
}

.user-card {
    max-width: 300px;
  }
  
  .user-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
