

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let user of users">
    <img mat-card-image [src]="(user.picture_url)? user.picture_url: 'https://via.placeholder.com/75'">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title fxLayout.gt-sx="row" fxLayout-xs="column">
        <span fxFlex="80%">{{user.username}}</span>
        <mat-icon fxFlex="20%">trip_origin</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>{{ user.phone_no }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

    <mat-card-actions>
      <mat-icon fxFlex="50%">mode_edit</mat-icon>
      <mat-icon fxFlex="50%">delete</mat-icon>
    </mat-card-actions>

  </mat-card>
</div>