<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="container">
  <mat-card class="card-picture" *ngIf="user">
    <img mat-card-image [src]="(user.picture_url)? user.picture_url: 'https://via.placeholder.com/75'">
    

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-icon fxFlex="100%" style="float:right; color:gray;" *ngIf="!checkifonline(user.username)">trip_origin</mat-icon>
      <mat-icon fxFlex="100%" style="float:right; color: green;" *ngIf="checkifonline(user.username)">lens</mat-icon>
      <mat-card-title fxLayout.gt-sx="row" fxLayout-xs="column">
        <span fxFlex="80%">{{user.username}}</span>
      </mat-card-title>
      <mat-card-subtitle>{{ user.phone_no }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

    </mat-card-content>

    <mat-card-actions>
      <div style="float:left; margin-left: 30px;">
        <mat-icon (click)="onVideo()">chat</mat-icon>
      </div>

      <div style="float:left; margin-left: 30px;">
        <mat-icon (click)="onAudio()">call</mat-icon>
      </div>

      <div style="float:left; margin-left: 30px;">
        <mat-icon (click)="onClose()">block</mat-icon>
      </div>
      

    </mat-card-actions>

  </mat-card>
  
  <video id="localVideo" autoplay muted></video>
  <video id="remoteVideo" autoplay></video>
</div>